/* Root */

:root {

    /* Colors */
    --white: #fff;
    --black: rgb(31, 31, 31);
    --grey: #979797;
    --orange: #ff3c15;
    --orange-light: hsla(10, 100%, 54%, 0.2);
  }


/* Main */

body {
    font-family: 'HK-Grotesk-Medium', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--black);
    background-image: url(../assets/images/background.jpg);
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

ul {

    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

a {
    font-family: 'HK-Grotesk-Medium', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
}

.heading {
    color: var(--white);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
    font-family: 'HK-Grotesk-Bold', sans-serif;
    font-size: 110px;
    line-height: 1;
}

.heading-orange {
    font-size: 120px;
    -webkit-text-stroke-color: var(--orange);
    margin-bottom: 3rem;
    color: var(--orange);
}

.fade {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.visible {
    opacity: 1;
}

/* Navbar check file header.css */

/* Hero section */

.container {
    max-width: 1080px;
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 2rem;
    padding-right: 2rem;
}

.button {
    display: inline-block;
    padding: 24px 72px;
    letter-spacing: 0.05em;
    background-color: var(--orange);
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-family: 'HK-Grotesk-Bold', sans-serif;
}

/* About section  */

blockquote {
    color: var(--black);
    font-size: 36px;
}

.quote-signature {
    display: inline-block;
    color: var(--orange);
    line-height: 1;
    padding: 24px 18px;
    border-radius: 100%;
    border: solid 3px var(--orange);
    text-transform: uppercase;
    margin-top: 12px;
}


/* Speakers section  */

.speaker-image {
    display: block;
    margin-bottom: 12px;
}

.speaker-name,
.speaker-title {
  margin: 0;
  line-height: 1.33;
}

.speaker-title {
  color: var(--grey);
  font-family: 'HK-Grotesk-Regular', sans-serif;
}


/* Schedule section  */

.schedule-container {
    border: solid 3px var(--orange);
    -webkit-overflow-scrolling: touch;
}

.schedule-container::-webkit-scrollbar{
    width: 12px;
    height: 14px;
    background-color: transparent;
}

.schedule-container::-webkit-scrollbar-thumb{
    background-color: var(--orange);
    border: solid 2px white;
}

.schedule {
    padding: 48px 24px;
}

.schedule-time {
    color: var(--orange);
    font-size: 36px;
    font-family: 'HK-Grotesk-Bold', sans-serif;
    line-height: 1;
    margin-bottom: 8px;
}

.schedule-day {
    line-height: 1;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    padding: 24px;
    color: #fff;
    background-color: var(--orange);
    font-weight: 600;
    font-size: 18px;
}


/* Register section  */

.register-image {
    background-image: url(../assets/images/location.jpg);
    background-position: center bottom;
}

.bg-orange {
    background-color: #ffe6dd;
    color: var(--orange);
}

input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    outline: none;
    padding: 0 12px;
    color: #32325d;
}

input::placeholder {
    color: #aab7c4;
}

.register {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.front, .back {
    grid-area: 1/1; 
}

.front {
    transition: transform 0.5s ease;
}

.front.slide-up {
    transform: translateY(-100%);
}

button {
    cursor: pointer;
    outline: none;
}

.button-small {
    font-size: 14px;
    padding: 12px 20px;
    font-weight: 600;
}

.button-outline {
    background: transparent;
    border: 2px solid var(--orange);
    color: var(--orange);
}


/* Footer */

footer {
    background-color: #222;
}

.footer-link {
    width: 131px;
    height: 40px;
    background-image: url(../assets/images/logo.svg);
}


/* Responsive */

@media(max-width: 900px) {
    body {
        font-size: 16px;
        background-size: auto 120vh;

    }
    .heading {
        font-size: 72px;
        -webkit-text-stroke-width: 2px;
    }
    .button {
        padding: 18px 32px;
        font-size: 14px;
    }
    .heading-orange {
        margin-bottom: 24px;
    }
    blockquote {
        line-height: 1.2;
    }
    .schedule-day {
        padding: 12px;
    }

}

@media(max-width: 400px) {

    .heading {
        font-size: 48px;
    }
    .button {
        font-size: 12px;
    }

}